@media screen and (max-width: 300px) {/* This CSS rule will apply when the screen width is 800px/tablet */
  .Box {
    background-color: #33c6f7;
    font-size: 28px;
    width: 300px;
  }
    
}

@media print {   
}